
@font-face {
    font-family: 'Montserrat700';
    src: url(./font/Montserrat-Bold.ttf) format('woff');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'Montserrat600';
    src: url(./font/Montserrat-SemiBold.ttf) format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat300';
    src: url(./font/Montserrat-Light.ttf) format('woff');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'Montserrat200';
    src: url(./font/Montserrat-Light.ttf) format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url(./font/Montserrat-Medium.ttf) format('woff');
    font-weight: 400;
    font-style: normal;
}



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: solid red; */
}

html {
    font-size: 14px;
}

.body {
    /* width: 1440px;
    margin: 0 auto; */
    background-repeat: no-repeat;
    background-color: #F7F8FC; 
}

.header {
    width: 1160px;
    margin: 0 auto;
    background: #F7F8FC;
    
}

.heading {
    display: flex;
    padding-top: 62px;
    /* padding-left: 40px;
    padding-right: 40px; */
    padding-left: 60px;
    padding-right: 60px;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 50px;
}

.soc {
    display: flex;
}

.soc div {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.soc div:nth-child(n + 2) {
    margin-left: 30px;
}

.soc_img {
    width: 16px;
    /* height: 16px; */
}


.behance {
    background-color: #1157FF;
}

.whatsapp {
    background-color: #25D366;
}

.telegram {
    background-color: #0088CC;
}

.telegram img {
    margin-right: 2px;
}

.vk {
    background-color: #1877F2;
}

.logo {
    width: 120px;
}


.tel {

    font-family: 'Montserrat200';
    font-style: normal;
    font-weight: 200;
    font-size: 25px;
    line-height: 140.6%;
    /* or 35px */
    color: #000000;
}


.nav {
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 30px;
    font-family: 'Montserrat600';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 140.6%;
    border-bottom: 1px solid #C2BA95;
    /* or 35px */
    margin-bottom: 30px;
}

.nav ul {
    display: flex;
    justify-content: space-between;
}

.nav li {
    list-style-type: none;
}

.nav ul a {
    color: #C2BA95;
    text-decoration: none;
}

.nav ul a:active {
    color: #000000;
}

.wrao_index{
    
    border-bottom: 1px solid #C2BA95;
    padding-bottom: 30px;
}


.index {
    background-image: url(./img/header.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 141px;
    padding-left: 160px;
    /* padding-left: 120px; */
    padding-right: 120px;
    padding-bottom: 100px;
    
    /* border-bottom: 1px solid #C2BA95; */
    /* padding-top: 30px; */
}

.index h2 {
    font-family: 'Montserrat200';
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 136.6%;
    /* or 27px */
    color: #000000;
}

.index h2:nth-child(2) {
    margin-bottom: 30px;
}

.index h1 {
    font-family: 'Montserrat700';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 130.6%;
    /* or 65px */
    color: #000000;
}

.index h1:nth-child(4) {
    margin-bottom: 50px;
}


.index button {
    background: linear-gradient(94.59deg, #90825D 0%, #DBC592 103.6%);
    font-family: 'Montserrat600';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 140.6%;
    /* or 35px */
    color: #FFFFFF;
    padding: 27px 54px;
    border: 0;
    cursor: pointer;
    position: relative;
    overflow-x: hidden;
}

.index button .flare {
    position: absolute;
    top: 0;
    height: 100%;
    width: 45px;
    animation-name: menu;
    left: -150%;
    transform: skewX(-45deg);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
    /* animation: infinite linear; */
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 6s;
    /* animation-duration: 3s;/ */
   animation-delay: 5s;
    /* animation-play-state: paused, running, running; */
    /* animation-delay: 5s; */
}



@keyframes menu {
    16.66%, 100% {
        left: 150%;
    }
/* 
    100% {
        left: 150%;
    } */
}

.main {
    width: 1160px;
    margin: 0 auto;
    /* border-top: 1px solid #C2BA95; */
    /* margin-top: 30px; */
    padding-bottom: 100px;
}

.info {
    display: flex;
    padding: 50px 0;
    justify-content: space-between;
    border-bottom: 1px solid #C2BA95;
}

.slash {
    /* background-image: url(./img/Rectangle.png); */
    width: 70.5px;
    height: 100px;
    padding-top: 50px;
}

.slash_p{
    margin-left: 10px;
    padding-top: 94px;
}

.slogan {
    display: flex;
    width: 540px;
    font-family: 'Montserrat700';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 136.4%;
    /* or 34px */
    color: #000000;
}

.discount {
    /* margin-left: auto; */
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 32px;
    border: 1px solid #C2BA95;
    width: 420px;
}

.discount h1 {
    font-family: 'Montserrat700';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
    color: #C2BA95;
    /* margin-bottom: 10px; */
}

.discount h1:nth-child(2) {
    margin-bottom: 15px;
}


.discount h2 {
    font-family: 'Montserrat300';
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 136.6%;
    /* or 22px */
    color: #000000;
    /* margin-bottom: 30px; */
}

.discount h2:nth-child(4) {
    margin-bottom: 30px;
}

.button {
    background: linear-gradient(94.59deg, #90825D 0%, #DBC592 103.6%);
    padding: 19px 40px;
    font-family: 'Montserrat600';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140.6%;
    /* or 22px */
    color: #FFFFFF;
    border: 0;
}

.about{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about h1{
    width: 100%;
    font-family: 'Montserrat700';
font-style: normal;
font-weight: 700;
font-size: 35px;
line-height: 43px;
/* identical to box height */
color: #000000;
text-align: center;
}

.about_item_wrap{
    
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item_wrap{
    width: 295px;
    height: 231px;
    border:  1px solid #C2BA95;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 49px;
    padding-top: 70px;
}

.item_wrap h2{
    font-family: 'Montserrat700';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 140.6%;
/* or 70px */
color: #C2BA95;
}

.item_wrap p{
    margin-top: 20px;
    font-family: 'Montserrat300';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 140.6%;
/* or 22px */
color: #000000;
}


.about_item_img{
    width: 132px;
    position: relative;
z-index: 10;
top: 54px;
background-color: #F7F8FC;
}


.about_item_wrap img{
    /* width: 108px; */
    height: 100px;
}

.services{
    /* margin-top: 100px; */
    height: 394px;
    display: flex;
    overflow: hidden;
    background-image: url(./img/brand_fon.png);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 12px 12px -12px rgb(12 12 13 / 21%), 0px -12px 12px -12px rgb(12 12 13 / 21%);
    /* padding-top: 12px;
    padding-bottom: 12px; */
    margin-top: 50px;
}

.services_item{
    width: 1160px;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    
    
    /* width: 100%; */
    padding-left: 271px;
    /* padding-right: 380px; */
    padding-top: 88px;
    padding-bottom: 88px;
   
}

.web, .poli, .brand{
    cursor: pointer;
position: absolute;
left: 4000px;
/* top: 100px;
bottom: 100px; */
animation-name: up;

}

.anim{
    animation-name: up;
    animation-duration: 21s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /* animation-timing-function: ease-out; */
    /* animation-fill-mode: forwards; */
}
    
.poli{
    animation-delay: 7s;
}


.web{
    animation-delay: 14s;
}

@keyframes up { 
0%{
    /* top: 100px; */
    left: 2000px;
}
    10%, 36%{
        /* top: 100px; */
        /* opacity: 1; */
        left: 271px;
    }

   46%{
    /* opacity: 0; */
    left: -2000px;
   }
    100%{
        /* opacity: 0; */
        left: -4000px;
    }
}



.brand .button{
    /* margin-left: 243px; */
}

.services_item h1{
    font-family: 'Montserrat700';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 61px;

background: linear-gradient(0deg, #C2BA95, #C2BA95);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.services_item p{
    width: 471px;
    margin-top: 30px;
}

.services_index p{
    width: 738px;
}


.text{
    /* padding-left: 140px; */
    padding-top: 150px;
    padding-bottom: 100px;
    border-bottom: 1px solid #C2BA95;
    /* width: 821px; */
}

.text p{
    font-family: 'Montserrat700';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 136.4%;
/* or 34px */
color: #000000;
}


.img{
    padding-top: 87px;
    padding-bottom: 100px;
    /* padding-left: 140px; */
    /* padding-right: 140px; */
    border-bottom: 1px solid #C2BA95;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    
    
}

.img_wrap{
    background: linear-gradient(270deg, #E9E9E9 0%, #EBEBEB 89.48%);
}

.img img{
   height: 600px;
    width: 900px;
    margin: auto;
    object-fit: cover
    
}


.services_item_wrap{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    height: 100%;
    font-family: 'Montserrat300';
font-style: normal;
font-weight: 300;
font-size: 25px;
line-height: 140.6%;
/* or 35px */
color: #000000;
}

.ideas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 150px;
    text-align: center;
}

.ideas h1{
    width: 100%;
    font-family: 'Montserrat700';
font-style: normal;
font-weight: 700;
font-size: 35px;
line-height: 136.4%;
/* identical to box height, or 48px */
color: #C2BA95;
}

.ideas_item_wrap{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 900px;
}

.ideas_item, .shadow{
    width: 450px;
    height: 450px;
    position: relative;
    
    
}

.shadow, .shadow_next{
    position: absolute;
    z-index: 9;
    bottom: 0;
    box-shadow: inset 0 0 200px 0 #000000;
    display: none;
}


.active_shadoe{
    display: block;
}

.ideas_item h2, .ideas_item_next h2{
    position: absolute;
    z-index: 10;
    left: 30px;
    bottom: 30px;
    text-align: left;
    
    font-family: 'Montserrat700';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 136.4%;
    /* identical to box height, or 34px */
    color: #FFFFFF;
    display: none;
}

.width{
    width: 250px;
}



.shadow_next{
    height: 900px;
    width: 100%;
}



.ideas_item_next{
    width: 260px;
    height: 900px;
    position: relative;
    margin-top: 100px;
    overflow: hidden;
}

.help_wrap{
    /* padding-left: 665px; */
    /* width: 1160px; */
    margin: 0 auto;

}

.help{
    width: 55%;
    /* height: 308px; */
    margin-left: auto;
    /* margin-top: 100px; */
    padding-top: 75px;
    padding-left: 186px;
    padding-bottom: 75px;
    background-image: url(./img/fon.png);
    background-size: 1540px 318px;;
    background-repeat: no-repeat;

}

.help:hover{
    animation-name: left;
    animation-duration: 1s;
    /* animation-iteration-count: infinite; */
    /* animation-timing-function: ease-out; */
    animation-fill-mode: forwards;
}


.help_right{
    animation-name: right;
    animation-duration: 1s;
    /* animation-iteration-count: infinite; */
    /* animation-timing-function: ease-out; */
    animation-fill-mode: forwards;
}

@keyframes right{
    0%{
        width: 1440px;
    }
    100%{
        width: 55%;
    }
}



@keyframes left{
    0%{
        width: 55%;
    }
    100%{
        width: 1500px;
    }
}



.help h1{
    font-family: 'Montserrat700';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 136.4%;
/* or 34px */
color: #C2BA95;
}

.help .button{
    margin-top: 30px;
}

.help .WhatsApp{
    margin-left: 44px;
    font-family: 'Montserrat600';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 140.6%;
/* or 22px */
color: #C2BA95;
    background: #F7F8FC;
    border: 1px solid;
    border-image-source: linear-gradient(94.59deg, #90825D 0%, #DBC592 103.6%);
    border-image-slice: 1;
}


.price{

}



.wrap{
    /* padding-left: 140px; */
    
   
    /* padding-bottom: 54px; */
    margin-bottom: 150px;
    border-top: 1px solid #C2BA95;
    margin-top: 53px;
  
    border-bottom: 2px solid #C2BA95;
}

.wrap_item{
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 81px;
    
    border-left: 1px solid #C2BA95;
    padding-bottom: 54px;
    /* padd-bottom: 54px; */
}

.price h1{
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    width: 1440px;
    margin: 0 auto;
    padding-left: 140px;
    /* padding-top: 100px; */
    font-family: 'Montserrat700';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 140.4%;
    /* or 49px */
    color: #C2BA95;
}

.item p{
    font-family: 'Montserrat300';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.item span{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
color: #C2BA95;
}

.item{
    /* width: 1300px; */
    display: flex;
    justify-content: space-between;
    padding-left: 129px;
    /* padding-right: 380px; */
    padding-bottom: 30px;
    padding-top: 40px;
    border-bottom: 1px dashed #C2BA95;
}

footer{
    background-color: #C2BA95;
    padding-left: 140px;
    padding-top: 75px;
    padding-right: 140px;
    padding-bottom: 100px;
    /* display: flex;
    justify-content: space-between; */
    margin-top: 138px;
}

.wrap_soc h2{
    font-family: 'Montserrat300';
font-style: normal;
font-weight: 300;
font-size: 25px;
line-height: 140.6%;
/* or 35px */
color: #FFFFFF;
margin-top: 27px;
}

.wrap_logo{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 1160px;
    margin: 0 auto;
}

.wrap_logo span{
    font-family: 'Montserrat300';
font-style: normal;
font-weight: 300;
font-size: 25px;
line-height: 140.6%;
/* or 35px */
color: #FFFFFF;
}

.wrap_soc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1160px;
    margin: 0 auto;
}

.wrap_soc .soc{
    margin-top: 27px;
    
}






